@import url('http://fonts.googleapis.com/css?family=Electrolize|Michroma');

//
// Bootstrap augmentations.
.page-header
  h1,h2,h3,h4,h5,h6
    font-family 'Michroma', sans-serif
body
  font-family 'Electrolize', sans-serif

.search-query + .btn
  margin-left 1em

// Bootstrap augmentations.
//

.console
  padding 1em
  color white
  background-color black
  li:before
    color white
    content "> "
